.list-page-body .c-img{margin-right:10px}
.list-page-body .c-img a{width:50px;height:50px;*font-size:50px}
.list-page-body .product-title{margin-top:7px;width:200px;line-height:18px;height:36px;overflow:hidden}
.list-page-body .content{margin-bottom:10px;font-size:14px;color:#666}
.list-page-body .unread{font-weight:700}
.list-page-body .release span{margin-left:10px}