label{font-weight:700}
.form-control{width:230px;}
.btn-block{width:230px;margin-top:20px}
.form-group{margin: 3px 0 10px;}
.code{width:100px;}
.code-wrap img{margin: 1px 2px;}
.code-wrap span{width:36px;line-height:1.4}