.top-bar{height:40px;background:#f7f7f7;border-bottom:solid 1px #ededed;}
.lunar-wel{width:400px}
.top-wel{margin-left:10px;margin-top:11px}
.top-wel a.text-warning{display:inline-block;*display:inline;*zoom:1;max-width:60px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;vertical-align: top}
.top-sign{line-height:40px;margin-right: 10px;}
.top-sign a{margin-left:24px}

.top-home{line-height:40px;margin-right:20px}

.top-box{_width:90px;position: relative;z-index:999}
.top-hd{position: relative;*height:24px;margin-top:6px}
.top-hd a{display:block;padding: 5px 30px 0 12px;color:#333}
.top-hd a:hover{text-decoration:none}
.top-hd .arr{position: absolute;top: 12px;*top:14px;right: 16px; display: block;width: 7px;height:4px;overflow: hidden;background:url(img/bg.png) no-repeat 0 -100px;}
.top-bd{_width:88px;display: none;position:absolute;left:0;right:0;padding-bottom:10px;background:#fff;border:solid 1px #d8d8d8;line-height:22px}
.top-bd li{_height:22px}
.top-bd a{display: block;padding-left:11px}

.top-box:hover .top-hd,.top-box-hover .top-hd{margin:5px 0 -1px;height:35px;border:solid #d8d8d8;border-width:1px 1px 0;background-color:#fff;z-index:1;}
.top-box:hover .top-hd .arr,.top-box-hover .top-hd .arr{background-position:-7px -100px}
.top-box:hover .top-hd a,.top-box-hover .top-hd a{padding:5px 29px 0 11px}
.top-box:hover .top-bd,.top-box-hover .top-bd{display: block}

.top-cart{_width:127px;}
.top-cart-bd{position:absolute;display: none; width:312px;left:0;border:solid 1px #d8d8d8;background:#fff}
.top-cart-bd .cart-empty{padding:15px 30px}
.top-cart-bd .cart-loading{padding:40px;background:url(img/loading.gif) no-repeat center;}
.top-cart .top-hd{background: url(img/bg.png) no-repeat 9px -44px;}
.top-cart .top-hd a{padding-left:30px}
.top-cart .count{color:#f60;font-weight:700}
.top-cart-list li{padding:10px 10px 4px 10px;}
.top-cart-list img{border:solid 1px #d6d6d6;}
.top-cart-list .g-fr{text-align: right;}
.top-cart-list .price{display: block;width:80px;color:#f60}
.top-cart-list .del{color: #005ea7;}
.top-cart-list .t{display: block;width:144px; margin-left:60px;height: 18px;overflow: hidden;}
.top-cart-list .text-muted{display: block;padding-left:60px}
.top-cart-list .text-warning{margin-left:7px}
.top-cart-count{margin-top:5px;background:#fff8e0;height:23px;padding:16px;}
.top-cart-btn{border-radius:3px;padding:0 15px;font-size:12px;border:solid 1px #f60;height:28px;background:#f60;color:#fff}
.top-cart-btn:hover,.top-cart-btn:focus{background-color:#ff4800;border-color:#da3e00}
.top-cart-count .price{font-size:18px;font-weight:700;color:#f60 }
.top-cart:hover .top-hd,.top-cart-hover .top-hd{background-position:8px -44px;_background-color:#fff}
.top-cart:hover .top-hd a,.top-cart-hover .top-hd a{padding-left:29px}
.top-cart:hover .top-cart-bd,.top-cart-hover .top-cart-bd{display: block;}

.top-seller-center{_width:102px;}
.top-seller-center .top-hd a{width:60px}
.top-seller-center .top-hd .arr{right:28px}
.top-seller-center .top-bd{_width:100px;}

.top-nav .top-bd{width:176px;left:-88px;padding-top:10px}
.top-nav .top-bd li{width: 87px; float: left;}